.container-center{
    margin-top: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    background: brown;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-area{
    display: flex;
    justify-content: center;
    background-color:chocolate;
    width: 100%;
}

.logo-area img{
    padding: 20px;
    width: 200px;
    height: 130px;
}

form{
    margin-top: 1.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form h1{
    text-align: center;
    margin-bottom: 0.5em;
    color:chocolate;
}

form button{
    margin-top: 10px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    background-color: chocolate;
    color: #FFF;
    font-size: 1.1em;
}

.login input{
    margin-bottom: 15px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
}

.login a{
    margin: 1.5em 0;
    color: #FFF;
    cursor: pointer;
}
