body{
    background-size: 70%;
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-image: url('../img/Logo1.jpg');
}

.texto{
    color:brown;
    margin-top: 9cm;
}

.textofoot{
    color:cadetblue;
    align-content: center;
    text-align: center;
}

.textofoot a{
    text-decoration:cadetblue;
}

.textofoot a:hover{
    background-color:blue ;
    color: #fff;
}

.imagens{
    background-size: 70%;
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
}