header{
    width: 98%;
    height: 60px;
    background-color:brown;
    color: #FFF;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

header a{
    color: #FFF;
    font-size: 20px;
}

header a + a{
    margin-left: 10px;
}