body{
    font-family: sans-serif;
}

.textofoot{
    height: 1cm;
    color:cadetblue;
    align-content: center;
    text-align: center;
    padding: 20px;
}

.textofoot a{
    text-decoration:cadetblue;
}

.textofoot a:hover{
    background-color:blue ;
    color: #fff;
}
